

<!DOCTYPE html>
<html lang="nl" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title>Hoelang is het vliegen naar...</title>
    <meta name="description" content="Op hoelang is het vliegen naar vind je, tickets, hotel vlieg- en autovakanties. Daarnaast alle informatie omtrent jouw vakantie. En dat op 1 plaats!" />
    <meta name="keywords" content="Hoelang is het vliegen, hoe lang is het vliegen, vliegtuig, vliegen, vlucht, vakantie, reis, bestemming, aankomst, vertrek, tijd, reistijd, duurt, vliegvakantie, ticket, Amsterdam, Schiphol, Rotterdam, airport, vliegveld, Brussel, Bangkok, Londen, Frankfurt, Curacao New York, Parijs, Moskou, Sydney, Singapore, Dubai, Amerika, VS, USA, Europa, Nederland, Belgie, Frankrijk, Spanje, Engeland, Brazilie, Antillen, Italie, Egypte, Turkije, Aruba, Bonare, China, Japan" />
    <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
    <meta property="fb:app_id" content="469990983108753"/>
    <meta property="og:title" content="Hoelang is het vliegen naar..." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.hoelangishetvliegen.nl/" />
    <meta property="og:image" content="http://www.hoelangishetvliegen.nl/images/logo.png" />
    <link rel="shortcut icon" href="http://new.hoelangishetvliegen.nl/images/favicon.ico" />
    <link rel="apple-touch-icon" href="http://new.hoelangishetvliegen.nl/images/favicon-apple.png"  />
    <link rel="stylesheet" type="text/css" href="http://new.hoelangishetvliegen.nl/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="http://new.hoelangishetvliegen.nl/css/component.css" /> 
    <link rel="stylesheet" type="text/css" href="http://new.hoelangishetvliegen.nl/css/main.css" /> 
    <link rel="stylesheet" type="text/css" href="http://new.hoelangishetvliegen.nl/css/minimal.css" />
    <link rel="stylesheet" type="text/css" href="http://new.hoelangishetvliegen.nl/css/maximal.css" />
    <link rel="stylesheet" type="text/css" href="http://new.hoelangishetvliegen.nl/css/tablet.css" />
    <link rel="stylesheet" type="text/css" href="http://new.hoelangishetvliegen.nl/css/mobile.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,700,600,800" />
    <script type="text/javascript">
    	currentBasePath = "http://new.hoelangishetvliegen.nl";
    </script>
    <script src="http://new.hoelangishetvliegen.nl/js/modernizr.min.js"></script>
    <script src="http://new.hoelangishetvliegen.nl/js/jquery-1.11.0.min.js"></script>
    <script src="http://new.hoelangishetvliegen.nl/js/jquery-ui.min.js"></script>
    <script src="http://new.hoelangishetvliegen.nl/js/jquery.scrollTo.min.js"></script>
    <script src="http://new.hoelangishetvliegen.nl/js/hihv.js"></script>
  </head>
  <body>
  
  <!-- facebook -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/nl_NL/sdk.js#xfbml=1&appId=469990983108753&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script> <!-- start website -->
  <div class="container">
    <header class="hHome">
      <nav class="menuContainer">
        <div class="menu">
            <ul class="left">
                <li><a href="javascript:$('body').scrollTo('#welcome', 800, {offset: -75});">Top vakanties</a></li>
                <li><a href="javascript:$('body').scrollTo('#bestemmingen', 800, {offset: -75});">Ontdek bestemmingen</a></li>
            </ul>
            <div class="center"><a href="javascript:$('body').scrollTo('body', 800);" title="Hoelang is het vliegen"></a></div>
            <ul class="right">
                <li><a href="http://www.hoelangishetvliegen.nl/contact">Doe mee</a></li>
                <li><a href="http://www.hoelangishetvliegen.nl/adverteren">Partners</a></li>
                <li><a href="http://www.hoelangishetvliegen.nl/over-ons">Over ons</a></li>
            </ul>
            <div class="fix"></div>
        </div>
      </nav>
      <div id="shareMenu" class="menuSocial">
        <ul>
          <li><a class="facebook" href="https://www.facebook.com/hoelangishetvliegen" title=""><img src="http://new.hoelangishetvliegen.nl/images/main/social-facebook.png" title="" alt="" /></a></li>
          <li><a class="twitter" href="https://twitter.com/Hoelangvliegen" title=""><img src="http://new.hoelangishetvliegen.nl/images/main/social-twitter.png" title="" alt="" /></a></li>
          <li><a class="googleplus" href="" title=""><img src="http://new.hoelangishetvliegen.nl/images/main/social-googleplus.png" title="" alt="" /></a></li>
          <li><a class="pinterest" href="#" style="display: none;" title=""><img src="http://new.hoelangishetvliegen.nl/images/main/social-pinterest.png" title="" alt="" /></a></li>
        </ul>
      </div>
      <div id="search">
        <form method="POST" action="http://www.hoelangishetvliegen.nl/calculate">
          <span class="search">Start met zoeken</span>
          <div class="fix"></div>
          <input class="depart filled" value="Rotterdam The Hague Airport" id="from_box" name="from" />
          <input class="location" value="Mijn bestemming..." id="to_box" name="to" />
          <input type="submit" class="search" value="Nu zoeken" />							
          <input type="hidden" value="RTM" name="from_id" id="from_id" />
          <input type="hidden" value="" name="to_id" id="to_id" />
        </form>
      </div>
      
    </header>
    
    <div id="shareIt">
      <div class="inner">
        <div class="left">
          <div class="fb-like" data-href="http://www.hoelangishetvliegen.nl/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
        </div>
        <div class="right">
					<ul>
						<li><a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true" data-count="none" data-via="twitterapi">Tweet</a></li>
            <li><div class="g-plus" data-action="share" data-annotation="none"></div></li>
            <li><a href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.hoelangishetvliegen.nl%2FFlorence-FLO%2F&media=http%3A%2F%2Fwww.hoelangishetvliegen.nl%2Ftest%2F2014%2Fimages%2Flocations%2Fhoelang-is-het-vliegen-naar-florence-italie-flr.jpg&description=Hoelang%20is%20het%20vliegen%20naar%20Florence%2C%20Itali%C3%AB" data-pin-do="buttonPin" data-pin-config="none" data-pin-color="white"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png" /></a></li>
          </ul>
        </div>
        <div class="fix"></div>
      </div>
    </div>
    
    <main id="welcome">
    <repeater>
    	<block name="Hoelangishetvliegen First Paragraph" repeatable="true" default="true">
    	  <div class="container">
	      <h1><singleline name="Kop">Hoelang is het vliegen naar...</singleline></h1>
		      <p><multiline name="Tekst 1">Altijd al benieuwd geweest hoelang het vliegen is naar jouw bestemming? Toestellen volgen en aankomsttijden controleren? 
		      Direct de vlucht naar jouw bestemming boeken, zien wat er te doen is, het actuele weer inzien en het klimaat bekijken!</multiline><br /> 
		      <singleline name="Tekst afsluitend">Op Hoelangishetvliegen lees je alles over je favoriete bestemming en je kunt tickets kopen.</singleline><br /><br />
		      <a href="javascript:$('body').scrollTo('#bestemmingen', 800);" title="Bekijk de top vakantiebestemmingen" class="button">Bekijk de top vakantiebestemmingen</a></p>
		      <img src="#" />
		      <p class="fritshenkpietjanhenk"></p>
    	  </div>
    	</block>
    </repeater>

    </main>
    <div id="welcomePhoto">
      <div class="content">
        <div class="right">
          <article>
            <h2>Jouw foto's op deze website!</h2>
            <p>Ga jij vaak op reis en maak je veel foto's die graag wilt delen?<br />
            Jouw vakantie ervaringen kan je met andere reizigers delen<br />
            op deze website.<br />
            <a href="mailto:info@hoelangishetvliegen.nl?subject=Foto" title="Bekijk de top vakantiebestemmingen" class="arrow">Mail ons!</a></p>
          </article>
        </div>
        <div class="fix"></div>
        <div class="center">
          <div class="gMobile gHome">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- 2014 - resultaat - mobiel -->
            <ins class="adsbygoogle"
                 style="display:inline-block;width:320px;height:100px"
                 data-ad-client="ca-pub-3825286542777919"
                 data-ad-slot="3074503261"></ins>
            <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
        
          <h2 class="h1" id="bestemmingen">Op dit moment populair
          </h2>
        </div>
      </div>
      
      <div id="showCase">
       <div><div style="background: url('http://new.hoelangishetvliegen.nl/images/platen/VCE.jpg') center center no-repeat;"><a href="http://www.hoelangishetvliegen.nl/RTM/VCE/" title="Hoelang is het vliegen naar Venetië, Egypte - Venetië"><span>Venetië</span></a></div></div>
       <div><div style="background: url('http://new.hoelangishetvliegen.nl/images/platen/CDG.jpg') center center no-repeat;"><a href="http://www.hoelangishetvliegen.nl/RTM/CDG/" title="Hoelang is het vliegen naar Parijs / Charles de Gaulle"><span>Parijs / Charles de Gaulle</span></a></div></div>
       <div><div style="background: url('http://new.hoelangishetvliegen.nl/images/platen/LAX.jpg') center center no-repeat;"><a href="http://www.hoelangishetvliegen.nl/RTM/LAX/" title="Hoelang is het vliegen naar Los Angeles"><span>Los Angeles</span></a></div></div>
       <div class="small"><div style="background: url('http://new.hoelangishetvliegen.nl/images/platen/LAS.jpg') center center no-repeat;"><a href="http://www.hoelangishetvliegen.nl/RTM/LAS/" title="Hoelang is het vliegen naar Las Vegas"><span>Las Vegas</span></a></div></div>
       <div class="small"><div style="background: url('http://new.hoelangishetvliegen.nl/images/platen/BKK.jpg') center center no-repeat;"><a href="http://www.hoelangishetvliegen.nl/RTM/BKK/" title="Hoelang is het vliegen naar Bangkok (Bang Phli Samut Prakan)"><span>Bangkok (Bang Phli Samut Prakan)</span></a></div></div>
       <div class="small"><div style="background: url('http://new.hoelangishetvliegen.nl/images/platen/CUR.jpg') center center no-repeat;"><a href="http://www.hoelangishetvliegen.nl/RTM/CUR/" title="Hoelang is het vliegen naar Willemstad"><span>Willemstad</span></a></div></div>
       <div class="small"><div style="background: url('http://new.hoelangishetvliegen.nl/images/platen/LHR.jpg') center center no-repeat;"><a href="http://www.hoelangishetvliegen.nl/RTM/LHR/" title="Hoelang is het vliegen naar Londen"><span>Londen</span></a></div></div>
      </div>
          
      <div class="content cBottom">
        <div class="center">
          <article>
            <h2>Zelf ook op een mooie locatie geweest?</h2>
            <p>Wil je je ervaringen graag met de wereld delen?<br /> 
            Help andere reizigers een betere keuze maken!<br />
            <a href="mailto:info@hoelangishetvliegen.nl?subject=Foto" title="Bekijk de top vakantiebestemmingen" class="arrow">Meedoen</a></p>
          </article>
        </div>   
      </div> 
          
  
    </div>
    <div class="gLinks">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- 2014 - 728 - links -->
      <ins class="adsbygoogle"
           style="display:inline-block;width:728px;height:15px"
           data-ad-client="ca-pub-3825286542777919"
           data-ad-slot="4411635662"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
    <div id="companies">
      <div class="companies">

        
    
      </div>
    </div>

<script type="text/javascript">

	bestemmingTekst = "Mijn bestemming...";
	vanafTekst = "Rotterdam The Hague Airport";
	
</script>

     <footer>
      <div class="footer">
        <div class="left">
          <h2>Bekijk ook eens deze top vakantiebestemmingen</h2>
      
          <div>
            <h3>Afrika</h3>
            <ul>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/DJE/" title="Hoelang is het vliegen naar Djerba">Djerba</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/CPT/" title="Hoelang is het vliegen naar Kaapstad">Kaapstad</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/CZL/" title="Hoelang is het vliegen naar Constantine">Constantine</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/KBS/" title="Hoelang is het vliegen naar Bo">Bo</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/ALG/" title="Hoelang is het vliegen naar Algiers">Algiers</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/RAK/" title="Hoelang is het vliegen naar Marrakesh">Marrakesh</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/BVC/" title="Hoelang is het vliegen naar Boa Vista">Boa Vista</a></li>
                          </ul>
          </div>
          
          <div>
            <h3>Azië</h3>
            <ul>
                           <li><a href="http://www.hoelangishetvliegen.nl/RTM/BKK/" title="Hoelang is het vliegen naar Bangkok ">Bangkok </a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/HND/" title="Hoelang is het vliegen naar Tokyo ">Tokyo </a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/AER/" title="Hoelang is het vliegen naar Sotsji">Sotsji</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/HKG/" title="Hoelang is het vliegen naar Hong Kong">Hong Kong</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/DXB/" title="Hoelang is het vliegen naar Dubai">Dubai</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/DME/" title="Hoelang is het vliegen naar Moskou">Moskou</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/SGN/" title="Hoelang is het vliegen naar Ho Chi Minh City">Ho Chi Minh City</a></li>
                          </ul>
          </div>
          
          <div>
            <h3>Australië/Oceanië</h3>
            <ul>
                           <li><a href="http://www.hoelangishetvliegen.nl/RTM/PER/" title="Hoelang is het vliegen naar Perth">Perth</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/ADL/" title="Hoelang is het vliegen naar Adelaide">Adelaide</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/DRW/" title="Hoelang is het vliegen naar Darwin">Darwin</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/WLG/" title="Hoelang is het vliegen naar Wellington">Wellington</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/AKL/" title="Hoelang is het vliegen naar Auckland">Auckland</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/SYD/" title="Hoelang is het vliegen naar Sydney">Sydney</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/BOB/" title="Hoelang is het vliegen naar Bora Bora">Bora Bora</a></li>
                          </ul>
          </div>
          
          <div>
            <h3>Noord Amerika</h3>
            <ul>
                           <li><a href="http://www.hoelangishetvliegen.nl/RTM/FCA/" title="Hoelang is het vliegen naar Kalispell">Kalispell</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/MIA/" title="Hoelang is het vliegen naar Miami">Miami</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/LAS/" title="Hoelang is het vliegen naar Las Vegas">Las Vegas</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/JFK/" title="Hoelang is het vliegen naar New York">New York</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/PUJ/" title="Hoelang is het vliegen naar Punta Cana">Punta Cana</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/LAX/" title="Hoelang is het vliegen naar Los Angeles">Los Angeles</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/YOW/" title="Hoelang is het vliegen naar Ottawa Ontario">Ottawa Ontario</a></li>
                         
               </ul>
          </div>
          
          <div>
            <h3>Zuid Amerika</h3>
            <ul>
                           <li><a href="http://www.hoelangishetvliegen.nl/RTM/GRU/" title="Hoelang is het vliegen naar São Paulo ">São Paulo </a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/SDU/" title="Hoelang is het vliegen naar Rio de Janeiro">Rio de Janeiro</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/CUR/" title="Hoelang is het vliegen naar Willemstad">Willemstad</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/AEP/" title="Hoelang is het vliegen naar Buenos Aires">Buenos Aires</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/FOR/" title="Hoelang is het vliegen naar Fortaleza">Fortaleza</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/GIG/" title="Hoelang is het vliegen naar Rio de Janeiro">Rio de Janeiro</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/VCP/" title="Hoelang is het vliegen naar Campinas">Campinas</a></li>
                         
               </ul>
          </div>
          
          <div>
            <h3>Europa</h3>
            <ul>
                          <li><a href="http://www.hoelangishetvliegen.nl/RTM/VCE/" title="Hoelang is het vliegen naar Venetië">Venetië</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/IST/" title="Hoelang is het vliegen naar Istanboel">Istanboel</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/BCN/" title="Hoelang is het vliegen naar Barcelona">Barcelona</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/FCO/" title="Hoelang is het vliegen naar Rome">Rome</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/AMS/" title="Hoelang is het vliegen naar Amsterdam">Amsterdam</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/LHR/" title="Hoelang is het vliegen naar Londen">Londen</a></li>
                            <li><a href="http://www.hoelangishetvliegen.nl/RTM/CDG/" title="Hoelang is het vliegen naar Parijs ">Parijs </a></li>
                          
              </ul>
          </div>

      
        </div>
        <div class="right">
          <div class="copyright">
            <span>Copyright &copy; 2012-2014</span>
            Alle rechten voorbehouden. Tenzij anders vermeld berusten alle rechten op informatie 
            die u op deze site aantreft bij Hoelangishetvliegen.nl of zijn gelicenceerd aan Hoelangishetvliegen.nl.
            
            <ul>
              <li><a href="http://www.hoelangishetvliegen.nl/voorwaarden" title="Voorwaarden Hoelangishetvliegen.nl">Voorwaarden</a></li>
              <li><a href="http://www.hoelangishetvliegen.nl/adverteren" title="Adverteren op onze website">Adverteren</a></li>
              <li><a href="http://www.hoelangishetvliegen.nl/over-ons" title="Over het Hoelangishetvliegen.nl team">Over ons</a></li>
              <li><a href="http://www.hoelangishetvliegen.nl/contact" title="Neem contact op">Contact</a></li>
            </ul>
            
            <div class="fix"></div>
            
            <ul class="social">
              <li><a href="https://www.facebook.com/hoelangishetvliegen" title="Volg ons op Facebook"><img src="http://new.hoelangishetvliegen.nl/images/main/social-facebook.png" title="Volg ons op Facebook" alt="Volg ons op Facebook" /></a></li>
              <li><a href="https://twitter.com/Hoelangvliegen" title="Volg ons op Twitter"><img src="http://new.hoelangishetvliegen.nl/images/main/social-twitter.png" title="Volg ons op Twitter" alt="Volg ons op Twitter" /></a></li>
              <li><a href="" title="Volg ons op Google+"><img src="http://new.hoelangishetvliegen.nl/images/main/social-googleplus.png" title="Volg ons op Google+" alt="Volg ons op Google+" /></a></li>
            </ul>
          </div>
                    
          <div>
            <h3>Visit our other websites</h3>
            <ul>
              <li><a href="http://www.flugzeitnach.de/" title="Am Deutsch - Flugzeitnach.de">Flugzeitnach.de</a></li>
              <li><a href="http://www.flighttimeto.com/" title="In English - Flighttimeto.com">Flighttimeto.com</a></li>
            </ul>
          </div>

      
        </div>
      </div>
    </footer>
  </div>

    
  <script>
    //menu
    jQuery("document").ready(function($){
    
        var nav   = $('.menuContainer');
        var share = $('.menuSocial ul li a');
        
        $(window).scroll(function () {
            if ($(this).scrollTop() > 85) {
                nav.addClass("menu-fixed");
                
                if ($(this).scrollTop() > 500) {
                    nav.addClass("menu-white");
                    share.addClass("menu-sharehide");
                } 
                if ($(this).scrollTop() < 500) {
                    nav.removeClass("menu-white");  
                    share.removeClass("menu-sharehide");
                }  
            } 
            if ($(this).scrollTop() < 85) {
                nav.removeClass("menu-fixed");
                nav.removeClass("menu-white");
            }
        });
    });
  </script>
  
	<!-- pinterest -->
  <script type="text/javascript">
  (function(d){
      var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
      p.type = 'text/javascript';
      p.async = true;
      p.src = '//assets.pinterest.com/js/pinit.js';
      f.parentNode.insertBefore(p, f);
  }(document));
  </script>

	<!-- twitter -->
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

	<!-- google+ -->
	<script type="text/javascript">
	  window.___gcfg = {lang: 'nl'};

	  (function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/plusone.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
  
	</body>
</html><script>console.log('Generated in 0.45217299461365');</script>