<html>
	<head>
		<link rel="stylesheet" />
	</head>
	<body>
		<div class="menu">
			Ermergerd hier komt een menu
		</div>
		<repeater>
			<block name="startblokHAHA" repeatable="true" default="true">
				<div class="container" style="width: 500px; background-color: #ddd;">
					<div class="row">
						<div class="span8">
							<h1>
							<singleline name="kop"></singleline></h1>
							<br />
							<singleline name="subkop">Dit is het default blok</singleline>
							<multiline name="inhoud">met je hoofd</multiline>
							
						</div>
						<div class="span4">
							<picture name='afbeeldingright' height="500" width="200" data-compress="95"></picture>
						</div>
					</div>	
				</div>
			</block>
			
			<block name="blok2" repeatable="true">
				<div class="container" style="width: 500px; background-color: #ddd;">
					<div class="row">
						<div class="span8">
							<h1>
							<singleline name="kop"></singleline></h1>
							<br />
							<singleline name="subkop">blieblabaloepie</singleline>
							<multiline name="inhoud">met je</multiline>
							
						</div>
						<div class="span4">
							<picture name='afbeeldingright'></picture>
						</div>
					</div>	
				</div>
			</block>
			
			<block name="blok3" repeatable="true">
				<div class="container" style="width: 500px; background-color: #ddd;">
					<div class="row">
						<div class="span8">
							<h1>
							<singleline name="kop"></singleline></h1>
							<br />
							<singleline name="subkop">blieblabaloepie</singleline>
							<multiline name="inhoud">met je</multiline>
							
						</div>
						<div class="span4">
							<picture name='afbeeldingright'></picture>
						</div>
					</div>	
				</div>
			</block>
		</repeater>
		HAHA
		<repeater>
			<block name="startblokHAHA" repeatable="true">
				<div class="container" style="width: 500px; background-color: #ddd;">
					<div class="row">
						<div class="span8">
							<h1>
							<singleline name="kop"></singleline></h1>
							<br />
							<singleline name="subkop">blieblabaloepie</singleline>
							<multiline name="inhoud">met je</multiline>
							
						</div>
						<div class="span4">
							<picture name='afbeeldingright'></picture>
						</div>
					</div>	
				</div>
			</block>
			
			<block name="blok2" repeatable="true">
				<div class="container" style="width: 500px; background-color: #ddd;">
					<div class="row">
						<div class="span8">
							<h1>
							<singleline name="kop"></singleline></h1>
							<br />
							<singleline name="subkop">blieblabaloepie</singleline>
							<multiline name="inhoud">met je</multiline>
							
						</div>
						<div class="span4">
							<picture name='afbeeldingright'></picture>
						</div>
					</div>	
				</div>
			</block>
			
			<block name="blok3" repeatable="true">
				<div class="container" style="width: 500px; background-color: #ddd;">
					<div class="row">
						<div class="span8">
							<h1>
							<singleline name="kop"></singleline></h1>
							<br />
							<singleline name="subkop">blieblabaloepie</singleline>
							<multiline name="inhoud">met je</multiline>
							
						</div>
						<div class="span4">
							<picture name='afbeeldingright'></picture>
						</div>
					</div>	
				</div>
			</block>
		</repeater>
		<div class="footer">
			Testje :3
		</div>
	</body>
</html>
